<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title th:text="${department.name} + ' Department'">Department</title>
</head>
<body>
<section>
    <h2 th:text="${department.name}"></h2>
    <p class="lead" th:text="${department.description}"></p>

    <h4 class="mt-4">Doctors in this Department</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Specialization</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${department.doctors}">
                <td th:text="${doctor.user.name}"></td>
                <td th:text="${doctor.specialization}"></td>
                <td th:text="${doctor.user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>