<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Appointments</title>
</head>
<body>
<section>
    <h2 class="mb-4">Appointments</h2>
    <div class="mb-3">
        <a href="/appointment/create" class="btn btn-primary">Create New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Doctor</th>
                <th>Patient</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.id}"></td>
                <td th:text="${appointment.date}"></td>
                <td th:text="${appointment.time}"></td>
                <td th:text="${appointment.doctor.user.name}"></td>
                <td th:text="${appointment.patient.user.name}"></td>
                <td th:text="${appointment.reason}"></td>
                <td th:text="${appointment.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>